<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

    <%- include("../partials/header") %>


    <section class="contenedor">
        <article class="contenedor-producto">
            <img src="/uploads/products/<%= product.image %>" alt="" class="img-producto">
            <h1 class="titulo-producto"><%= product.name %></h1>
            <p class="descripcion-producto"><%= product.description %></p>
            
            <!-- <p class="descripcion-producto">
                CARACTERISTICAS GENERALES: <br><br>
                Modelo: RYZEN 7 3700X<br>
                Socket: AM4 Ryzen 3th Gen<br>
                Núcleos: 8<br>
                Frecuencia: 3600.00 mhz<br>
                Proceso De Fabricación: 7 nm<br>
                Chipset Gpu: NO Posee Gráficos Integrados<br>
                Hilos: 16<br>
                Frecuencia Turbo: 4400 mhz<br>
                Familia: AMD RYZEN 7 <br>
            </p> -->

            <p class="precio">$ <%= product.price %></p>
            <div class="botones-producto">
                <button class="boton">Agregar al carrito</button>
                <button class="boton">Comprar ahora</button>
            </div>
            <!-- <form action="/product/<%= product.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="<%= product.id %>">
                <button type="submit" >
                    <i class="fas fa-trash"></i>
                </button>
            </form> -->
        </article>
        
    </section>    
   
        <%- include("../partials/footer") %>


</body>
</html>