<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/<%= style %>">
</head>
<body>
    <%- include ("../partials/header") %>

    <form action="/product/update/<%= product.id %>?_method=PUT>" method="POST" >

        
        <fieldset>
            <label for="name">Titulo</label>
            <input type="text" name="name" id="name" value="<%= product.name %>" required>
        </fieldset>
        
        <fieldset>
            <label for="description">Descripción</label>
            <input type="text"  name="description" id="description" value="<%= product.description %>" required>  
        </fieldset>
        
        <fieldset>
            <label for="price">Precio</label>
            <input type="number" name="price" id="price" value="<%= product.price %>" required>
        </fieldset>

        <fieldset>
            <label for="category">Categoria</label>
            <input type="number" name="category" id="category" value="<%= product.category %>" required>
        </fieldset>

        <!-- <fieldset>
            <label for="brand">Marca</label>
            <input type="text" name="brand" id="brand" value="<%= product.brand %>"required>
        </fieldset> -->
        
        <fieldset>
            <figure><img src="/uploads/products/<%=product.image%>" alt=""></figure>
            <label for="image">Imagen</label>
            <input type="file" name="image" id="image" >
        </fieldset>
        
        <fieldset>
            <button type="submit">Enviar</button>
        </fieldset>

    </form>
        
        <form action="/product/<%= product.id %>?_method=DELETE" method="POST">
            <!-- <input type="hidden" name="id" value="<%= product.id %>"> -->
            <button type="submit" >
                <!-- <i class="fas fa-trash"></i> -->
                Eliminar
            </button>
        </form>
        

    <%- include ("../partials/footer") %>
    
</body>
</html>